<!DOCTYPE html>
<html>
		<head>
				<meta charset="utf-8">
				<title>Wine Not!</title>
				<link href="css/base.css" rel="stylesheet">
		</head>
		<body><center>
				{{{body}}}
		</center></body>
</html>