<div class="container">
	<div class="masthead">
        <nav>
        <ul class="nav nav-justified">
         	<li><a href="/">Home</a></li>
           	<li><a href="/login">Login</a></li>
           	<li><a href="/register">Register</a></li>
           	<li><a href="/search">Search</a></li>
       	</ul>
       	</nav>
	</div>
</div>
<div class="container"><br><center>{{#if pwerror}}
	<font color="#e50000">Invalid username or password.</font>
	{{/if}}
	{{#if unerror}}
	<font color="#e50000">Invalid username or password.</font>
	{{/if}}<br><br></center></div>
<div class="container">
	<div class="jumbotron">
	<center>
	<font size ="5"><b>Please Sign In</b></font><br><br>
	<form method="POST" action="">
	<div class="form-group">
		<input type="text" name="username" placeholder=" Username" required>
	</div>
	<div class="form group">
	
		<input type="text" name="password" placeholder=" Password" required>
	</div>
		<br>
		<input type="submit"><br>
</form>
</center>
</div>
</div>