<div class="container">
	<div class="masthead">
        <nav>
        <ul class="nav nav-justified">
         	<li><a href="/">Home</a></li>
         	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Magical Wine DB<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/allthewine">All the Wine</a></li>
                <li><a href="/addawine">Add a Wine</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Personal</li>
                <li><a href="/suggested">Suggested Wines</a></li>
              </ul>
            </li>
           	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personal Wine Lists<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/favorites">Favorites</a></li>
                <li><a href="/try_these">Try These!</a></li>
                <li><a href="/never_again">Never Again</a></li>
              </ul>
            </li>
           	<li><a href="/preferences">Preferences</a></li>
           	<li><a href="/search">Search</a></li>
           	<li><a href="/logout">Logout</a></li>
       	</ul>
       	</nav>
	</div>
</div>
<div class="container"><br></div>
<div class="container"><center><div class="jumbotron">
<h3>Hi, <b>{{username}}</b>!</h3>
<div class="row">
  <div class="col-md-6">
<font size="3">  <b>You enjoy:</b>
{{#each type}}<br>{{this}}{{/each}}</font>
</div>
  <div class="col-md-6">
<font size="3"><b>You prefer wines that are:</b>
{{#each sweetness}}<br>{{this}}{{/each}}</font>
  </div>
</div>
<br>
</div>
<div class="jumbotron">
<form method="POST" action="">
		<font size ="4"><b>Have your tastes changed? Like something new?<br>Update your preferences by filling out the form below.</b></font><br><br>
		Types of Wines you enjoy:<br>
		<label><input type="checkbox" name="type" value="Red Wine">
		Red Wine</label>
		<label><input type="checkbox" name="type" value="White Wine">
		White Wine</label> <br>
		<br>
		Preferred Sweetness:<br>
		<font size="2">If you need more information on sweetness classifications, please take a look at <a href="/classifications">this</a> page.</font>
		<br>
		<label><input type="checkbox" name="sweetness" value="Bone Dry">
		Bone Dry</label>
		<label><input type="checkbox" name="sweetness" value="Dry">
		Dry</label>
		<label><input type="checkbox" name="sweetness" value="Semi-Sweet">
		Semi-Sweet</label>
		<label><input type="checkbox" name="sweetness" value="Sweet">
		Sweet</label>
		<label><input type="checkbox" name="sweetness" value="Very Sweet">
		Very Sweet</label>
		<br><br>
		<input type="submit"><br>
</form>
<font size="1"><br>By submitting the following form, you are updating all your current preferences. Old preferences will not be saved or added to the new preferences.<br>Please select <b>all</b> the choices you would like to have saved.</font></center></div></div>