<div class="container">
	<div class="masthead">
        <h3 class="text-muted">Wine Not!</h3>
        <nav>
        <ul class="nav nav-justified">
         	<li><a href="/">Home</a></li>
         	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Magical Wine DB<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/allthewine">All the Wine</a></li>
                <li><a href="/addawine">Add a Wine</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Personal</li>
                <li><a href="/suggested">Suggested Wines</a></li>
              </ul>
            </li>
           	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personal Wine Lists<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/favorites">Favorites</a></li>
                <li><a href="/try_these">Try These!</a></li>
                <li><a href="/never_again">Never Again</a></li>
              </ul>
            </li>
           	<li><a href="/preferences">Preferences</a></li>
           	<li><a href="/search">Search</a></li>
           	<li><a href="/logout">Logout</a></li>
       	</ul>
       	</nav>
	</div>
</div>
<div class="container"><br></div>
<div class="container"><div class="jumbotron">
<p>
<font size="4">Hi, <b>{{username}}</b>!</font><br>
<br>
<b>You enjoy:</b>
{{#each type}}<br>{{this}}{{/each}}
<br>
<b>You prefer wines that are:</b>
{{#each sweetness}}<br>{{this}}{{/each}}
<br>
<br>
By submitting the following form, you are updating your current preferences with new ones.<br>
<form method="POST" action="">
		<font size ="5"><b><u>Update your preferences:</u></b></font><br><br>
		Types of Wines you enjoy:<br>
		<label><input type="checkbox" name="type" value="red wine">
		Red Wine</label>
		<label><input type="checkbox" name="type" value="white wine">
		White Wine</label> <br>
		<br>
		<br>
		Preferred Sweetness:<br>
		<font size="2">If you need more information on sweetness classifications, please take a look at <a href="/classifications">this</a> page.</font>
		<br>
		<label><input type="checkbox" name="sweetness" value="bone dry">
		Bone Dry</label>
		<label><input type="checkbox" name="sweetness" value="dry">
		Dry</label>
		<label><input type="checkbox" name="sweetness" value="semi-sweet">
		Semi-Sweet</label>
		<label><input type="checkbox" name="sweetness" value="sweet">
		Sweet</label>
		<label><input type="checkbox" name="sweetness" value="very sweet">
		Very Sweet</label>
		<br><br>
		<input type="submit"><br>
</form></p></div></div>