<div class="container">
	<div class="masthead">
        <nav>
        <ul class="nav nav-justified">
         	<li><a href="/">Home</a></li>
           	<li><a href="/login">Login</a></li>
           	<li><a href="/register">Register</a></li>
           	<li><a href="/search">Search</a></li>
       	</ul>
       	</nav>
	</div>
</div>
<div class="container"><br>{{#if unerror}}
<font color="#e50000">The username you entered is already being used. Please try again.</font>
{{/if}}
{{#if pwerror}}
<font color="#e50000">Password must be 8 characters in length. Please try again.</font>
{{/if}}<br><br></div>
<div class="container">
<div class="jumbotron"><center>
<font size ="5"><b>Create your Wine Not account</b></font><br><br>
<form method="POST" action="">
		<font size="3"><b>Basic Information:</b></font><br><br>
		<label>First Name:</label> <input type="text" name="fname" required>
		<br><br>
		<label>Last Name:</label> <input type="text" name="lname" required>
		<br><br>
		<label>Username:</label> <input type="text" name="username" required>
		<br><br>
		<label>Password:</label> <input type="text" name="password" required>
		<br>
		<br>
		<font size="3"><b>Select your wine preferences!</b></font><br>
		<br>
		Types of Wines you enjoy:<br>
		<label><input type="checkbox" name="type" value="red wine">
		Red Wine</label>
		<label><input type="checkbox" name="type" value="white wine">
		White Wine</label> <br>
		<br>
		Preferred Sweetness:<br>
		<font size="2">If you need more information on sweetness classifications, please take a look at <a href="/classifications">this</a> page.</font>
		<br>
		<label><input type="checkbox" name="sweetness" value="bone dry">
		Bone Dry</label>
		<label><input type="checkbox" name="sweetness" value="dry">
		Dry</label>
		<label><input type="checkbox" name="sweetness" value="semi-sweet">
		Semi-Sweet</label>
		<label><input type="checkbox" name="sweetness" value="sweet">
		Sweet</label>
		<label><input type="checkbox" name="sweetness" value="very sweet">
		Very Sweet</label>
		<br><br>
		<input type="submit"><br>
</form></center></div></div>