{{#if notloggedin}}
<nav class="navbar">
<div class="container">
	<div class="masthead">
        <nav>
        <ul class="nav nav-justified">
         	<li><a href="/">Home</a></li>
           	<li><a href="/login">Login</a></li>
           	<li><a href="/register">Register</a></li>
           	<li><a href="/search">Search</a></li>
       	</ul>
       	</nav>
	</div>
	</div>
</nav>
{{/if}}
{{#if loggedin}}
<div class="container">
	<div class="masthead">
		<nav>
		<ul class="nav nav-justified">
			<li><a href="/">Home</a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Magical Wine DB<span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="/allthewine">All the Wine</a></li>
				<li><a href="/addawine">Add a Wine</a></li>
				<li role="separator" class="divider"></li>
				<li class="dropdown-header">Personal</li>
				<li><a href="/suggested">Suggested Wines</a></li>
			  </ul>
			</li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personal Wine Lists<span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="/favorites">Favorites</a></li>
				<li><a href="/try_these">Try These!</a></li>
				<li><a href="/never_again">Never Again</a></li>
			  </ul>
			</li>
			<li><a href="/preferences">Preferences</a></li>
			<li><a href="/search">Search</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
		</nav>
	</div>
</div>
{{/if}}
<div class="container"><br></div>
