body {
    font-family: Arial, Verdana, sans-serif;
    background-image: url(/images/logo.jpg);
    height: 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}
h1{
	background-color: #5a3449;
	color: #ffffff;
	padding: 5px;
}
p{
	background-color: #755775;
	color: #ffffff;
	padding: 5px;
}